h1 {
    text-align: center;
    color: black;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 5%;
}
.btn.btn.btn-primary{
    background-color: ghostwhite;
    border-radius: 15px;
    color: black;
    border: 2px solid blue;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    width: 500px;
    text-align: center;
    margin-left: 75%;
    margin-top: 5px;
    margin-bottom: 7%;
}
.btn :hover{
    background-color: ghostwhite;
    color:white;
}

